<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Dummy Name Generator</title>
</head>

<body>
  <h1>Dummy Name Generator</h1>
  <p class="header-description">Find a random name in a flash</p>

  <form class="random-name" action="index.html" method="get" id="random-name-form">
    <div class="form-container">
      <input value="John Doe" id="random-name-input"/>
      <button type="submit" name="button">Generate</button>
    </div>
  </form>

  <script type="text/javascript" src="script.js"></script>
</body>

</html>
