* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 64px 32px 64px 32px;
}

h1 {
  font-size: 72px;
  font-weight: 500;
  color: black;
  margin-top: 70px;
}

button {
  border-radius: 5px;
  font-size: 17px;
  background: #505050;
  color: white;
  font-weight: 100;
  cursor: pointer;
  display: inline-block;
  width: 20%;
  height: 40px;
  vertical-align: middle;
  padding: 5px;

}

button:hover {
  background: #303030;
}

button:active {
  background: #101010;
}

input {
  font-size: 28px;
  font-weight: 300;
  width: 75%;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  padding: 5px;
  padding-left: 15px;
  border: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

p.header-description {
  margin-top: 15px;
  font-size: 27px;
  font-weight: 300;
  color: #505050;
}

form.random-name {
  width: 500px;
  display: block;
  margin: auto;
  margin-top: 80px;
}

.form-container {
    display: block;
}
